@charset "UTF-8";

/* ================================================== *
 *
 *    base style
 *
 * ================================================== */
body {
	background: #fff;
}
body.pageTop {
	padding-top: 76px;
}

@media(min-width:768px) {
	body.pageTop {
		padding-top: 116px;
	}
}

/* ================================================== *
 *
 *    block modules
 *
 * ================================================== */

/* ------------------------------------------------- *
 *        demo-header
 * ------------------------------------------------- */
.demo-header {
	padding: 15px 0 0;
}
.demo-header.navbar-default {
	border: none;
	margin-bottom: 0;
	background: #fff;
}
.demo-header.navbar-default .nav.navbar-nav>li>a {
	color: #333;
}
.demo-header.navbar-default .nav.navbar-nav>li>a:hover {
	color: #999;
}
.demo-header.navbar-default .navbar-header {
	margin-top: 0;
	margin-bottom: 0;
}
.demo-header.navbar-default .navbar-brand {
	height: auto;
	margin-top: -9px;
	margin-right: 30px;
}
.demo-header.navbar-default .navbar-collapse {
	max-height: none;
}
.demo-header.navbar-default .navbar-collapse .navbar-nav {
	float: none;
}
.demo-header.navbar-default .navbar-collapse .navbar-form {
	clear: right;
	float: right;
}
.demo-header.navbar-default .navbar-nav .dropdown-menu {
	background: #000;
	border-radius: 0;
}
.demo-header.navbar-default .navbar-nav .dropdown-menu>li>a {
	color: #fff;
}
.demo-header.navbar-default .dropdown-menu a:hover {
	background: #333;
}
.demo-header.navbar-default .navbar-toggle {
	margin-right: 0;
}
.demo-header.navbar-default .navbar-form {
	margin-bottom: 0;
}
.demo-header.navbar-default .navbar-form input {
	background: #F7F7F7;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	font-size: 16px;
}
.demo-header.navbar-default .navbar-form .btn {
	background: #333;
	color: #FFF;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color: #333;
	padding-right: 15px;
}

@media(min-width:768px) {
	.demo-header {
		padding: 30px 0;
	}
	.demo-header.navbar-default .navbar-header {
		margin-bottom: 15px;
	}
	.demo-header.navbar-default .navbar-brand {
		padding-top: 24px;
		margin-top: 0;
	}
	.demo-header.navbar-default .navbar-collapse .navbar-nav {
		float: right;
		margin-right: -30px;
	}
	.demo-header.navbar-default .navbar-collapse .navbar-form {
		float: right;
		clear: right;
		margin-right: -30px;
	}
}
@media(min-width:992px) {
	.demo-header {
		padding: 30px 0 10px;
	}
	.demo-header.navbar-default .navbar-brand {
		margin-top: -17px;
	}
	.demo-header.navbar-default .navbar-collapse .navbar-nav {
		float: left;
	}
	.demo-header.navbar-default .navbar-form {
		margin-top: 8px;
	}
}

/* ------------------------------------------------- *
 *        demo-keyVisual
 * ------------------------------------------------- */
.demo-keyVisual {
	padding-top: 70px;
	height: 550px;
	background: url('../images/kv_img.png') center 0 no-repeat;
	background-size: cover;
}
.demo-keyVisual .btn-group {
	margin-top: 30px;
}
.demo-keyVisual .btn-group .btn {
	margin-left: 1px;
}
@media(min-width:768px) {
	.demo-keyVisual {
		padding-top: 170px;
		height: 550px;
	}
	.demo-keyVisual .btn-group {
		margin-top: 40px;
	}
}

/* ------------------------------------------------- *
 *        demo-footer
 * ------------------------------------------------- */
.demo-footer {
	background: #000;
	color: #fff;
	padding: 30px 0;
}
.demo-footer .list-group .list-group-item {
	background: none;
	color: #999;
	border-left: none;
	border-right: none;
	border-radius: 0;
	border-color: #444;
}
.demo-footer .glyphicon {
	position: absolute;
	right: 15px;
	top: 13px;
}
.demo-footer .text-center {
	margin-top: 15px;
}

@media(min-width:768px) {
	.demo-footer .list-group .list-group-item {
		border: none;
		padding: 0;
		padding-top: 5px;
	}
	.demo-footer .glyphicon {
		display: none;
	}
	.demo-footer .text-center {
		margin-top: 30px;
	}
}


/* ================================================== *
 *
 *    title modules
 *
 * ================================================== */

/* ------------------------------------------------- *
 *        demo-titleType1
 * ------------------------------------------------- */
.demo-titleType1 {
	vertical-align: middle;
	font-weight: normal;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
	margin: 0;
	font-size: 27px;
}
.demo-titleType1 .glyphicon {
	font-size: 20px;
	margin-right: 7px;
}
.demo-titleType1 .badge {
	vertical-align: middle;
	margin-left: 7px;
}

/* ================================================== *
 *
 *    nav modules
 *
 * ================================================== */

/* ------------------------------------------------- *
 *        demo-sideNav
 * ------------------------------------------------- */
.demo-sideNav.list-group .list-group-item {
	border-radius: 0;
	border-color: #ddd;
	border-left: none;
	border-right: none;
}
.demo-sideNav.list-group .list-group-item:first-child {
	border-top: none;
}
.demo-sideNav .glyphicon {
	position: absolute;
	right: 15px;
	top: 14px;
	font-size: 10px;
}

/* ================================================== *
 *
 *    button modules
 *
 * ================================================== */

/* ------------------------------------------------- *
 *        demo-btnPagetop
 * ------------------------------------------------- */
.demo-btnPagetop a {
	color: #333;
	border-top: 1px solid #ddd;
	padding: 15px 0;
}
.demo-btnPagetop a:hover {
	text-decoration: none;
	background: #fafafa;
}

/* ================================================== *
 *
 *    helper
 *
 * ================================================== */

/* ------------------------------------------------- *
 *        margin
 * ------------------------------------------------- */
.margin-top-lg {
	margin-top: 60px;
}
.margin-top-md {
	margin-top: 30px;
}
.margin-top-sm {
	margin-top: 15px;
}
.margin-bottom-lg {
	margin-bottom: 60px;
}
.margin-bottom-md {
	margin-bottom: 30px;
}
.margin-bottom-sm {
	margin-bottom: 15px;
}

/* ------------------------------------------------- *
 *        padding
 * ------------------------------------------------- */
.padding-top-lg {
	padding-top: 60px;
}
.padding-top-md {
	padding-top: 30px;
}
.padding-top-sm {
	padding-top: 15px;
}
.padding-bottom-lg {
	padding-bottom: 60px;
}
.padding-bottom-md {
	padding-bottom: 30px;
}
.padding-bottom-sm {
	padding-bottom: 15px;
}

/* ================================================== *
 *
 *    Custom Bootstrap Class
 *
 * ================================================== */

/* ------------------------------------------------- *
 *        grid
 * ------------------------------------------------- */
.row .colPadding {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* ------------------------------------------------- *
 *        btn
 * ------------------------------------------------- */

.btn {
	border-radius: 2px;
	transition: .3s;
}
.btn:hover,
.btn:focus,
.btn.focus {
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-facebook,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary,
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success,
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger,
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook {
	border-color: transparent;
}

/* ------------------------------------------------- *
 *        text color
 * ------------------------------------------------- */
.text-titleIcon {
	color: #981615;
}
.text-imgIcon {
	color: #4d0c0b;
}
.text-arrowIcon {
	opacity: 0.3;
}
